.hd-margin{
    margin-left: 300px !important;
}
.slider {
   background-color: var(--background-color);
}
.img-div{
    height: 500px;
}
:root{
    --background-color:#F7F5EB
}
.btn{
    height: 50px;
    
}
.email-btn{
    width: 100px;
    height: 50px;
}
.imgheight{
    height: 600px;
}