.backImage {
    background-image: url("background.gif");
    /* background-repeat: no-repeat; */
   /* background-size: 100%; */
}

body {
    /* color: white;
    font-family: Arial, Helvetica, sans-serif; */
    font-family: "Open Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.9;
    color: white;
    /* color: #757575; */
    /* text-align: left; */
}

a {
    font-size: 90%;
}

.bColor {
    background-color: limegreen;
}