/* body{
    background: #E9E6E0;
} */
.number{
    color: grey;
    padding-bottom:0px; 
    margin-bottom: 0px;
}
.num-1{
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
}
.icon-custom{
    border: 1px solid #39c3baa8;
    border-radius: 50%;
    background-color: #39c3baa8;
    color: white;
}
.navbar{
font-size: 12px;
height: 40px;
margin-top: 10px;
font-weight: 700;
color:white;
}
.a:hover{
    background-color: black;
}
/* ul.nav-item li a{
    color:white;
    font-weight: 700;
} */
.title{
    font-family: 'Inspiration', cursive;
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 700;
    color:black;
    /* margin-left: auto; */
    border-top: none;
    margin: 0;
    padding-top: 17px;
    box-shadow: none;
    padding: 35px 0 30px;
}
.btn{
    position: center;
}
.card{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    
    border-bottom: 1px solid #ccc;
   
    margin: 0 0 14px;
    padding: 0 0 13px;
}
.card-title{
    color:  #41AFAA;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}
.card-text{
    font-size: 13px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.footer h6{
    font-size: 18px;
    color: #999;
    padding: 23px 0 18px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.footer p {
    padding: 0 0 2px;
}
.footer p em {
    font-style: normal;
    font-weight: 700;
    color: #3facaa;
}
