.moduleImageClick {
    position: relative;
    display: none; 
    z-index: 1;
  }
  
  .hideCloseButton {
      position: relative;
     /* display: none;  */
  }
  .head {
      background-color: rgb(84, 84, 207);
  }
  
  .mouseOver:hover {
      background-color: white;
  }

  