body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    /* font-size: .9375rem; */
    /* font-weight: 300; */
    /* line-height: 1.9; */
    /* color: #757575; */
    /* text-align: left; */
    background-color: #fff;
    /* layout */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.firstPagebackImage {
    background-image: url("../image/img/background.gif");
    
}

.buyButtonColor {
    background-color: limegreen;
}

.navbar-divider {
    display: inline-block;
    height: 21px;
    width: 1px;
    background-color: #fff;
    margin: 0 1rem;
    opacity: 0.15;
}

.buttonExplor:hover {
    background-color: white;
}

.buttonExplor {
    color: white;
}

@media screen and (max-width: 480px) {
    .hideButton {
        display: none;
    }
 } 

.msgButton {
    z-index: 1;
} 

.divider {
    height: 180px;
}

/* dropdown */

.menuDemo {
    position: relative;
    display: inline-block;
  }

  .menuDemo-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menuDemo-content p {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

  .menuDemo-content p i {
      /* background-color: yellow; */
      float: right;
      padding: 5px 5px;
  }
  
  /* .menuDemo-content a:hover {
      background-color: ;
  }  */
  
  .menuDemo:hover .menuDemo-content {
    display: block;
  } 
  /* dropdown end */

  .star {
      color: yellow;
  }

   /* last page own it */
.outLine {
    border-bottom: 1px dashed white;
}
.back {
animation: colorchange 10s infinite; 
}

@keyframes colorchange {
0% {
background-color: #45a3e5
}

50% {
background-color: #66bf39
}

100% {
background-color: #864cbf
}
}